################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net7.0/runtimes
/bin/Debug/net7.0
/obj/Debug/net7.0/ref
/obj/Debug/net7.0/staticwebassets
/obj/Debug/net7.0/refint
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/Projeto-IBGE-2023.assets.cache
/obj/Debug/net7.0/Projeto-IBGE-2023.csproj.BuildWithSkipAnalyzers
/obj/Debug/net7.0/Projeto-IBGE-2023.csproj.CopyComplete
/obj/Debug/net7.0/Projeto-IBGE-2023.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/Projeto-IBGE-2023.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/Projeto-IBGE-2023.dll
/obj/Debug/net7.0/Projeto-IBGE-2023.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/Projeto-IBGE-2023.genruntimeconfig.cache
/obj/Debug/net7.0/Projeto-IBGE-2023.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net7.0/Projeto-IBGE-2023.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net7.0/Projeto-IBGE-2023.pdb
/obj/Debug/net7.0/staticwebassets.build.json
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Projeto-IBGE-2023.csproj.nuget.dgspec.json
/.vs/ProjetoIBGE/v17
/.vs/Projeto-IBGE-2023/v17
/.vs/Projeto-IBGE-2023/FileContentIndex
/.vs/Projeto-IBGE-2023/config
/.vs/ProjectEvaluation/projeto-ibge-2023.metadata.v7.bin
